@font-face {
    font-family: 'Montserrat';
    font-display: auto;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-display: auto;
    src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    font-display: auto;
    src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
